input.button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px 20px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;

}

h1 {
  text-align: center;
  font-family: Arial;
}
