/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

b {
  font-family: Arial;
  text-align: center;
}

h1 {
  font-family: Arial;
  text-align: center;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 10px 10px 10px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

input[type=time] {
  width: 150px;
  padding: 12px 20px;
  margin: 10px 10px 10px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 3em;
}

input[type=number] {
  width: 80px;
  padding: 12px 20px;
  margin: 10px 10px 10px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input.desc {
  padding-bottom: 100px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px 20px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;

}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    background-color: #f44336;
    /*position: static;*/
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
/*img.avatar {
    width: 40%;
    border-radius: 50%;
}*/

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: left;
    padding-top: 16px;
}



/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .submitbtn {
      position: fixed;
      width: 100%;
    }

    .cancelbtn {
        position: fixed;
        width: 100%;
    }
}
